# Environment variables
.env
.env.local

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Test cache
.pytest_cache/

# Distribution / packaging
*.egg-info/
build/
dist/

# Logs
*.log

# Editor backup files
*~
*.swp